@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}

.list::-webkit-scrollbar { 
    display: none;
}

.App{
    background-image: url('./images/jake.png');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.create-section{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.list{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.search-bar {
    transition: opacity 2s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}
.form:hover .search-bar{
    opacity: 1;
    height: auto;
}